{% extends 'base.html' %}
{% block content %}
<h3>About Me</h3>
<p>My name is Phil Heijkoop. I like to style myself as a full-stack machine learning engineer. I’ve spent a year and a half at the German Aerospace Center (DLR) in Oberpfaffenhofen, working under Martin Schuster to develop tools for research in multi-robot SLAM techniques. Afterwards I returned to the Netherlands and picked up at Veneficus (my employer before I left for Germany), where I worked closely with the data science and software development teams to help create reproducible data-science tools for our clients. I now live in Boston and am looking for my next challenge.</p>

<h4>Background Information</h4>
<p>I’ve had the privilege of growing up in numerous countries around the world (the United States, South Korea, Belgium, and Cuba just to name a few), this has served as a catalyst for my interests in international relations, history and learning. Besides my experience at DLR and Veneficus, I’ve also spent time doing research in bipedal robotic locomotion, teaching at a middle/high school, coaching lacrosse, and playing on the Dutch national team.</p>

<p>I’m passionate about learning and passing that on to others. Hopefully the items under the projects tab here give you a glimpse of my diverse background and interests. My hobbies include:
    <ul>
        <li>Electronics (Arduino, Raspberry pi projects) and domotics</li>
        <li>Reading and writing</li>
        <li>Hiking and traveling</li>
    </ul>

<H4>Contact Me</H4>
<p>Please feel free to reach out to me using any of the platforms in the footer or send me an email.</p>
{% endblock content %}