{% extends 'base.html' %}
{% block content %}
<h3>Welcome</h3>
<>My name is Phil Heijkoop, welcome to my site. I like to think of myself as a lifelong learner, with a particular passion for machine learning (with a strong background in robotics/AI) and software engineering.
I invite you to check out my projects on the project page or read about them and my ongoing work in my blog.
Read a little about me in the about me section, check out some of my social media presence in the footer, or check out my <a href="https://github.com/mephistophyles">Github.</a></p>
<br>
<p>I am still working on polishing some of my projects and putting them on my Github, so bear with me as the site starts to fill out and gets some color.</p>
{% endblock content %}